<!-- <footer class="footer">
    <div class="container">
        <div class="row center-block">
            <div class="col-xs-12 col-sm-4 nopadding">
              <div class="col-xs-3 col-sm-4 nopadding">
                <span class='text-white'>
                    <a class='foot-text' href="https://www.deloitte.ca">Visit Deloitte</a>
                </span>
            </div>
            </div>
            <div class="col-xs-12 col-sm-8 nopadding text-center-xs">
                <br class="visible-xs-inline"/>
                <div class="col-xs-12 text-center-xs">
                    <span class="foot-text text-center-xs">Copyright 2017 Deloitte Touche Tohmatsu. <br class="foot-text visible-xs-inline"/>All rights reserved.</span>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-8">hi</div>

        </div>
    </div>
</footer>
 -->


 <footer class="footer">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-2"><a href="https://www2.deloitte.com/ca/en/pages/deloitte-analytics/articles/greenhouse.html" target="__blank" class="footer-link" ><p class="foot-text">Visit Deloitte</p></a></div>
        <div class="col-md-8"><p class="foot-text">Copyright 2017 Deloitte Touche Tohmatsu. All Rights Reserved.</p></div>
        <div class="col-md-2"><a href="mailto:greenhouse@deloitte.ca?Subject=Greenhouse%20Inquiry" target="_top" class="footer-link"  ><p class="foot-text">Contact Us</p></a></div>
        </div>
    </div>
</footer>


                    